.blank_result {
    height: 20vh;
    background-color: #F1F3FF;
    margin-bottom: -7vh;
    position: relative;
    z-index: -1;
}

.searchbox_detail {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.text_detail {
    font-size: 14px;
}

.header_accordion {
    padding: 0 !important;
}

.body_accordion {
    padding: 0 !important;
}

.item_accordion {
    border: 0 !important;
}

.header_accordion button  {
    padding: 0 !important;
}

.header_accordion button:not(.collapsed) {
    color: black !important;
    background-color: white !important;
    box-shadow: none !important;
}

.header_accordion button:not(.collapsed)::after {
    background-image: url("../../Assets/icon/Search/icon-arrow-up.svg") !important;
}