.searchbox {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

@media screen and (min-width: 992px) {
    .searchbox {
        margin-top: -15vh;
        position: relative;
        z-index: 1;
    }
}