.hero_homepage {
    background-color: #F1F3FF;
}

.hero_image {
    width: 100%;
    height: 100%;
}

.desc_hero {
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.card_cta {
    background-color: #0D28A6;
    border-radius: 10px !important;
}
