@font-face {
    font-family: 'Helvetica';
    src: url(/src/Assets/font/Helvetica.ttf)
}

body {
    font-family: Helvetica;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
}


h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}


p {
    font-size: 14px;
}

a {
    text-decoration: none;
}

.button-secondary {
    background-color: #5CB85F;
    border-color: #5CB85F;
    font-weight: 500;
}

.button-secondary:hover {
    background-color: #318334;
    border-color: #318334;
}