.cardcar {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.name_card {
    font-weight: 400;
    font-size: 16px;
}

.price_card {
    font-weight: 700;
    font-size: 16px;
}

.desc_card {
    font-weight: 400;
    font-size: 14px;
}