.name_carddetail {
    font-weight: 700;
    font-size: 16px;
}

.price_carddetail {
    font-weight: 700;
    font-size: 16px;
}

.desc_carddetail {
    font-weight: 400;
    font-size: 14px;
    color: #8A8A8A;
}
